body{
  border: 5px;
  border-style: dashed;
  color: #66a7b7
}

h1{
  font-family: fantasy;
  font-style: bold;
  color: #66a7b7;
  font-weight: bold;
}

h2{
  font-family: fantasy;
  color: #66a7b7;
  font-weight: bold;
}


h3{
  font-family: cursive;
  color: #66a7b7;
  font-weight: bold;
}
