.nav-bar{
  float: right;
  font-family: fantasy;
  color: #66a7b7;
}

#footer{
  clear: both;
  font-family: fantasy;
  color: #66a7b7;
}

body{
  border: 10px;
  border-style: dashed;
  color: #66a7b7;    
  background-color: #FCF3CF;
}

h1{
  font-family: fantasy;
  font-style: bold;
  color: #66a7b7;
  font-weight: bold;
}

h2{
  font-family: fantasy;
  color: #66a7b7;
  font-weight: bold;
}


h3{
  font-family: cursive;
  color: #66a7b7;
  font-weight: bold;

  
@media (max-width: 415px) {
    img {
        width: 375px;
    }
    #main-container {
        font-size: 50px;
        color: #FCF3CF;
    }

  
@media (min-width: 768px) and (max-width: 1024px) {
    img {
        width: 708px;
    }
    #main-container {
        font-size: 70px;
        color: #FCF3CF;
    }
}
